wxpython==4.2.0
lxml>=4.8.0
aiodns
netaddr
dnspython==2.2.1
async_timeout
BeautifulSoup4>=4.11.1
motor==3.0.0
httpx>=0.23.0
httpx[socks]
requests>=2.28.1
socksio>=1.0.0
aiohttp>=3.8.1
aiohttp_xmlrpc==1.5.0
aioredis>=2.0.1
psutil>=5.9.1
etcd3>=0.12.0
protobuf==3.20.1
ds-store==1.3.0
